<div class="p-3">
    <div class="card">
        <div class="card-body">
            <h3  class="titre">Poc Facture</h3>
            <img  class="logo-img-card" width=500 src="assets/logo.png" />
            <h6> Ce sera un POC qui permettra de créer des factures électroniques pour respecter
                 l’article 26 de la loi de finances rectificatives pour 2022.
                 <br/>
                 <br/>
                la facture électronique:
                <br/> 
                Une facture électronique se définit comme une facture émise et reçue sous format numérique.
            <br/> 
                L'utilisation de ce type de reçu dans le cadre de la gestion d'entreprise engage l'utilisation 
                <br/>   
                d'un système qui permet d'assurer l'authenticité de la facture, une meilleure lisibilité et l'intégrité de son contenu.
              
                
                <br/> 
                Dans ce POC, voici les briques que nous allons mettre en place
                </h6>
                <ul>
                    <li>La liste des factures</li>
                    <li>Ajouter une factures</li>
                    <li> Modifier ou supprimer une factures</li>
                  </ul>
           
            
            <img class="img-facture" width=500 src="assets/fact1.png" />
            
        </div>
    </div>
</div>
