<div class="p-3">
    <div class="card">
        <div class="card-body">
            <h3>Nouvelle Facture</h3>
    
        <div class="row">
            <div class="col-md-6">
                <!-- {{factureForm.value | json}} -->
                <form [formGroup]="factureForm" (ngSubmit)="ajouterFacture()">
                    <div class="mb-3">
                        <label class="form-label">customer Ref</label>
                        <input class="form-control" formControlName="customerRef">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">customer Contact</label>
                        <input class="form-control" formControlName="customerContact" type = "email">
                    </div>
                   
                    <small class="text-danger"
                    *ngIf="(factureForm.controls['customerContact'].touched|| submitted)">
                    <div *ngIf= "factureForm.controls['customerContact'].errors?.['required'] ">
                        email is required 
                    </div>
                    <div *ngIf= "factureForm.controls['customerContact'].errors?.['email'] ">
                        Email must be a valid email address 
                    </div>    
                </small>  
                
                    <div class="mb-3">
                        <label class="form-label">dueDate</label>
                        <input class="form-control" formControlName="dueDate" type="date">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">emissionDate</label>
                        <input class="form-control" formControlName="emissionDate" type="date">
                    </div>

                    <div formGroupName="prestation">
                        <h3> Prestation</h3>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" name="description" formControlName="description">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Quantity</label>
                            <input type="number" class="form-control" name="quantity" formControlName="quantity"  value= 4 >
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Prix unitaire</label>
                            <input type="number" class="form-control" name="unitPrice" formControlName="unitPrice" value= 4 >
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Unite</label>
                            <input type="number" class="form-control" name="unit" formControlName="unit" value= 4 >
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Tva Rate</label>
                            <input type="number" class="form-control" name="vATRate" formControlName="vATRate" value = 2>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Date prestation</label>
                            <input type="date" class="form-control" name="prestationDate" formControlName="prestationDate" value="2022-05-05">
                        </div> 
                    </div>
                    <button type="submit" [disabled]="factureForm.invalid" class="btn btn-success">Ajouter Facture</button>
                </form>


            </div>

        </div>
               
            

    </div>
</div>
</div>
   

