<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
          {{keyword}}
          <input class="p-1" type="text" [(ngModel)]="keyword">
          <button (click)="rechercheFactures()" class="btn btn-outline-success ms-1">
            <i class="bi bi-search"></i>
          </button>
        
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Montant</th>
            <th>Client</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let facture of factures">
            <td>{{ facture.id }}</td>
            <td>{{ facture.libelle }}</td>
            <td>{{ facture.montant }}</td>
            <td>{{ facture.client }}</td>

            <td>
              <button type="button" (click)="handleDeleteFacture(facture)" class="btn btn-outline-danger">
                <i class="bi bi-trash"> </i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
